<header class="header">
    <div class="container">
        <h1 class="logo">CSE Motors</h1>
        <a href="/account/" title="Login or register for an account" class="account-link">My Account</a>
    </div>
</header>