<nav class="main-nav">
    <ul class="nav-list">
        <li><a href="/" title="Home page" class="nav-link">Home</a></li>
        <li><a href="/inv/" title="View our inventory" class="nav-link">Custom</a></li>
        <li><a href="/inv/" title="View our inventory" class="nav-link">Sedan</a></li>
        <li><a href="/inv/" title="View our inventory" class="nav-link">SUV</a></li>
        <li><a href="/inv/" title="View our inventory" class="nav-link">Truck</a></li>
        <li><a href="/register" title="Register a new account" class="nav-link">Register</a></li>
    </ul>
</nav>